*{
    margin:0;
    padding:0;
    font-family: Century Gothic;
}

header.home{
   background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(battleground_main.jpg);
    height:100vh;
    width:auto;
    background-size: cover;
    background-position: center;
}
header.else{
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("background_img.jpg");
    height:100vh;
    width:auto;
    background-size: cover;
    background-position: center;
}
ul{
    float:right;
    list-style-type: none;
    margin-top:20px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
   
    padding:5px 20px;
    color:#fff;
    border:1px solid transparent;
    transition:0.4s ease;
}

ul li a:hover{
    background-color:#fff;
    color:#000;
}
ul li.active a{ 
    background-color:#fff;
    color:#000;
}


.logo img{
    float:left;
    width:auto;
    height:35px;
    margin:10px;
}
.main{
    max-width:1500px;
    margin:auto;
}

.title{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
}
.title img{
    height:140px;
    width:auto;

}

.button{
     position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
}
.btn{
    border:1px solid #fff;
    padding:10px 30px;
    color:#fff;
    text-decoration: none;
    transition:0.4s ease;
}
.btn:hover{
    background-color:#fff;
    color:#000;
}

.who_design{
    position: absolute;
    width:99%;
    left:0%;
    bottom:0%;
    background-color: #000001;
    padding:5px;
    margin:auto;
    
}
.who_design p{
    color:#fff;

    font-size: 5px;
    text-align: center;
}
.who_design a{

    display: block;
    color:#fff;

    font-size: 5px;
    text-align: center;
    text-decoration: none;    
}






* {box-sizing: border-box}
body
{
    font-family: Verdana, sans-serif; margin:0
}

.mySlides_fade 
{
    display: none
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {

  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}







