*{
    margin:0;
    padding:0;
    font-family: Century Gothic;
}

header.home{
   background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(battleground_main.jpg);
    height:100vh;
    width:auto;
    background-size: cover;
    background-position: center;
}
header.else{
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("background_img.jpg");
    height:100vh;
    width:auto;
    background-size: cover;
    background-position: center;
}
ul{
    float:right;
    list-style-type: none;
    margin-top:20px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
   
    padding:5px 20px;
    color:#fff;
    border:1px solid transparent;
    transition:0.4s ease;
}

ul li a:hover{
    background-color:#fff;
    color:#000;
}
ul li.active a{ 
    background-color:#fff;
    color:#000;
}


.logo img{
    float:left;
    width:auto;
    height:35px;
    margin:10px;
}
.main{
    max-width:1500px;
    margin:auto;
}

.title{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
}
.title img{
    height:140px;
    width:auto;

}

.button{
     position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
}
.btn{
    border:1px solid #fff;
    padding:10px 30px;
    color:#fff;
    text-decoration: none;
    transition:0.4s ease;
}
.btn:hover{
    background-color:#fff;
    color:#000;
}

.who_design{
    position: absolute;
    width:99%;
    left:0%;
    bottom:0%;
    background-color: #000001;
    padding:5px;
    margin:auto;
    
}
.who_design p{
    color:#fff;

    font-size: 5px;
    text-align: center;
}
.who_design a{

    display: block;
    color:#fff;

    font-size: 5px;
    text-align: center;
    text-decoration: none;    
}








